params {
    workflow_built_by = 'Kranti.Konganti@fda.hhs.gov'
    workflow_version = '0.2.2'
    centrifuge_x = '/hpc/db/centrifuge/2022-04-12/ab'
    centrifuge_extract_bug = 'Escherichia coli'
    centrifuge_save_aligned = false
    centrifuge_save_unaligned = false
    centrifuge_out_fmt_sam = false
    centrifuge_ignore_quals = false
    kraken2_db = '/hpc/db/kraken2/standard-210914'
    kraken2_confidence = '0.0'
    kraken2_quick = false
    kraken2_use_mpa_style = false
    kraken2_minimum_base_quality = '0'
    kraken2_report_zero_counts = false
    kraken2_report_minimizer_data = false
    kraken2_use_names = true
    kraken2_extract_bug = params.centrifuge_extract_bug
    flye_pacbio_raw = false
    flye_pacbio_corr = false
    flye_pacbio_hifi = false
    flye_nano_raw = true
    flye_nano_corr = false
    flye_nano_hq = false
    flye_genome_size = (params.centrifuge_extract_bug ==~ /(?i)Salmonella/ ? '5m' : '5.5m')
    flye_polish_iter = false
    flye_min_overlap = false
    flye_scaffold = false
    flye_meta = true
    ectyper_run = false
    ectyper_perc_opid = 90
    ectyper_perc_hpid = 95
    ectyper_perc_opcov = 95
    ectyper_perc_hpcov = 50
    serotypefinder_run = (params.centrifuge_extract_bug ==~ /(?i)Salmonella/ ? false : true)
    serotypefinder_db = '/hpc/db/serotypefinder/2.0.2'
    serotypefinder_min_cov = 0.80
    serotypefinder_min_threshold = 0.85
    serotypefinder_x = true
    seqsero2_run = (params.centrifuge_extract_bug ==~ /(?i)Salmonella/ ? true : false)
    seqsero2_t = 4
    seqsero2_m = 'k'
    seqsero2_c = false
    seqsero2_s = false
    mlst_run = true
    mlst_minid = 95
    mlst_mincov = 10
    mlst_minscore = 50
    amrfinderplus_run = false
    amrfinderplus_db = '/hpc/db/amrfinderplus/3.10.24/latest'
    amrfinderplus_genes = true
    abricate_run = true
    abricate_datadir = '/hpc/db/abricate/1.0.1/db'
    abricate_minid = 90
    abricate_mincov = 80
    abricate_summary_run = true
    seqkit_grep_on = false
}