params {
    workflow_author =  "Rodney.Engelbach@fda.hhs.gov"
    workflow_version =  "0.4.1"
    sample_sheet =  ""
    global_settings =  ""
    log_file =  ""
    log_level =  "info"
    mode = ""
    verbose =  false
    disable_project_setup =  false
    setup_purge_existing =  false
    setup_fix_existing =  true
    setup_nocopy =  false
    setup_runtype =  ""
    guppy_threads =  4
    guppy_config = ""
    merge_overwrite = false
    mail_group = "stakeholders"
    help = false
    enable_module = "'nanofactory/current'"
}