params {
    workflow_built_by = 'Kranti.Konganti@fda.hhs.gov'
    workflow_version = '0.1.0'
    spades_run = true
    spades_isolate = false
    spades_sc = false
    spades_meta = false
    spades_bio = false
    spades_corona = false
    spades_rna = false
    spades_plasmid = false
    spades_metaviral = false
    spades_metaplasmid = false
    spades_rnaviral = false
    spades_iontorrent = false
    spades_only_assembler = false
    spades_careful = false
    spades_cov_cutoff = false
    spades_k = false
    spades_hmm = false
    fq_filter_by_len = 75
    fq_suffix = '_R1_001.fastq.gz'
    fq2_suffix = '_R2_001.fastq.gz'
}